{% extends 'warehouse/dashboard.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class='col-lg-8'>
                <div class="card">
                    <div class="header">
                        <div class="title">
                            <h3>Store {{ instance }}</h3>
                            <p>Total Pay Balance... {{ total_pay }}</p>
                        </div>
                        <div class="content">
                            <a href="{% url 'warehouse:billing_invoice_create_view' instance.id %}" class="btn btn-success">New Bill Invoice</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="header">
                        <a href="{% url 'warehouse:billing_view' %}" class="btn btn-primary">Back</a>
                    </div>
                    <div class="content">
                        <form method='GET'>
                            <input data-href="" type='text' class='form-control search_button' name='search_name' placeholder="Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8">
                {% for billing in object_list %}
                    <div class="col-lg-4 col-sm-6">
                        <div {% if billing.is_paid %} class="card paid_card" {% else %} class="card not_paid_card" {% endif %}>
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-android"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>{{ billing.date_expired }}</p>
                                            <p>{{ billing.category }}</p>
                                            <p>{{ billing.tag_final_value }}</p>
                                        </div>
                                        {% if payroll.is_paid %}
                                            <span class="badge badge-success">Paid</span>

                                            <br><br>
                                        {% else %}
                                            <a href="{% url 'warehouse:quick_pay_invoice' billing.id %}" class="btn btn-danger">Quick Pay</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <a style="color: white" href="{{ billing.get_edit_url }}"><i class="ti-dashboard"></i>Edit {{ billing.title }}</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <div class="header">
                        <div class="title">Billings</div>
                    </div>
                    <div class="content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Remaining Value</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ele in categories %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ ele }}</td>
                                    <td class="warning">{{ ele.tag_balance }}</td>
                                    <td><a href="{{ ele.get_edit_url }}" class="btn btn-primary">Edit</a> </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">No Data</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{% url 'warehouse:billing_category_create_view' instance.id %}" class="btn btn-success">Create Category</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

