<table class='table'>
    <thead>
    <tr>
        <th>Sku</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for order_item in instance.order_items.all %}
        <tr>
            <td>{{ order_item.title.sku }}</td>
            <td>{{ order_item.title|truncatechars:25 }}</td>
            <td>{{ order_item.qty }} {% for item in order_item.attributes.all %} {{ item.title.title }} {% endfor %}</td>
            <td>{{ order_item.tag_final_value }}</td>
            <td>{{ order_item.tag_total_value  }}</td>
            {% if order_item.attribute %}
                <td>
                    <a href="{% url 'point_of_sale:edit_order_item_attr' order_item.id %}" class="btn btn-info">Edit</a>
                </td>
            {% else %}
                <td colspan="2">
                    <button data-href="{% url 'point_of_sale:ajax_order_item_edit' 'remove' order_item.id %}" class="btn btn-sm btn-warning edit_button"><i class="fa fa-arrow-down"></i></button>
                    <button data-href="{% url 'point_of_sale:ajax_order_item_edit' 'add' order_item.id %}" class="btn btn-sm btn-success edit_button"><i class="fa fa-arrow-up"></i></button>
                    <button data-href="{% url 'point_of_sale:ajax_order_item_edit' 'delete' order_item.id %}" class="btn btn-sm btn-danger edit_button"><i class="fa fa-trash"></i></button>
                </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan='6'>No items added</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td>Shipping Cost</td>
        <td>{{ instance.costumer_account }}</td>
        <td>Payment Cost</td>
        <td></td>
        <td>Costuer</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>Final Price</td>
        <td>{{ instance.tag_final_value }}</td>
    </tr>
    </tfoot>
</table>

<script>
    $('.edit_button').click(function (evt) {
        evt.preventDefault();
        const btn = $(this);
        const url = btn.attr('data-href');
        $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,
                success: function (data) {
                    $('#order_items_container').html(data.order_container)
                }
            })
        })
    </script>