
<div class="card">
    <div class="header">
        <div class="title">
            <a onclick="return confirm('Are you sure?')" href="{{ instance.get_delete_url }}" class="btn btn-warning"><i class="fa fa-remove"></i>Delete</a>
            <a href="{% url 'point_of_sale:order_list' %}" class="btn"><i class="fa fa-save"></i> Save</a>
            <br> <br>
            <a href="{% url 'point_of_sale:action_order_done' instance.id %}" class="btn btn-info"><i class="fa fa-done"></i>Done</a>
            <h3>Title... {{ instance.title }}</h3>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6 text-center">
                <table class="table table-responsive">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td>Date</td>
                        <th>{{ instance.date_expired|date }}</th>
                    </tr>
                    <tr>
                <td>Order Type</td>
                <th>{{ instance.get_order_type_display }}</th>
            </tr>
            <tr>
                <td>Costumer</td>
                <th>{{ instance.user }}</th>
            </tr>
            <tr>
                <td>Clean Value</td>
                <th>{{ instance.tag_value }}</th>
            </tr>
            <tr>
                <td>Taxes modifier</td>
                <th>{{ instance.get_taxes_modifier_display }} %</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 text-center">
        <table class="table table-responsive">
            <thead></thead>
            <tbody>
            <tr>
                <td>Title</td>
                <th>{{ instance.get_status_display }}</th>
            </tr>
            <tr>
                <td>Value</td>
                <th>{{ instance.tag_final_value }}</th>
            </tr>
            <tr>
                <td>Discount</td>
                <th>{{ instance.tag_discount }}</th>
            </tr>
            <tr>
                <td>Taxes</td>
                <th>{{ instance.tag_taxes }}</th>
            </tr>
            <tr>
                <td>Paid </td>
                <th>{{ instance.tag_paid }}</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<table class='table'>
    <thead>
    <tr>
        <th>Sku</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for order_item in instance.order_items.all %}
        <tr>
            <td>{{ order_item.title.sku }}</td>
            <td>{{ order_item.title|truncatechars:25 }}</td>
            <td>{{ order_item.qty }} {% for item in order_item.attributes.all %} {{ item.title.title }} {% endfor %}</td>
            <td>{{ order_item.tag_final_value }}</td>
            <td>{{ order_item.tag_total_value  }}</td>
            {% if order_item.attribute %}
                <td>
                    <a href="{% url 'point_of_sale:edit_order_item_attr' order_item.id %}" class="btn btn-info">Edit</a>
                </td>
            {% else %}
                <td colspan="2">
                    <button data-href="{% url 'point_of_sale:ajax_order_item_edit' 'remove' order_item.id %}" class="btn btn-sm btn-warning edit_button"><i class="fa fa-arrow-down"></i></button>
                    <button data-href="{% url 'point_of_sale:ajax_order_item_edit' 'add' order_item.id %}" class="btn btn-sm btn-success edit_button"><i class="fa fa-arrow-up"></i></button>
                    <button data-href="{% url 'point_of_sale:ajax_order_item_edit' 'delete' order_item.id %}" class="btn btn-sm btn-danger edit_button"><i class="fa fa-trash"></i></button>
                </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan='6'>No items added</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td>Shipping Cost</td>
        <td>{{ instance.tag_shipping_cost }}</td>
        <td>Payment Cost</td>
        <td>{{ instance.tag_payment_cost }}</td>
        <td>Discount</td>
        <td>{{ instance.tag_discount }}</td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>Final Price</td>
        <td>{{ instance.tag_final_value }}</td>
    </tr>
    </tfoot>
</table>

<script>
    $('.edit_button').click(function (evt) {
        evt.preventDefault();
        const btn = $(this);
        const url = btn.attr('data-href');
        $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,
                success: function (data) {
                    $('#order_items_container').html(data.order_container)
                }
            })
        })


    </script>
    </div>
</div>