<div class="row">
    {% for product in products %}
        <div class="col-lg-4 col-sm-6 ">
            <div class="card card-hover">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                <p>{{ product|truncatechars:30 }}</p>
                                <p>Sku: {{ product.sku }}</p>
                                <a href="{% url 'point_of_sale:check_add' instance.id product.id %}" class="btn btn-primary">Add</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <a href=''><i class="ti-link"></i>{{ product.qty }} Unit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>