{% extends 'point_of_sale/dashboard.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
            {% for ele in all_attrs %}
            <div class="col-lg-3 col-sm-4">
                <div class="card card-hover">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-bell"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>{{ ele }}</p>
                                    <a href="{% url 'point_of_sale:add_to_order_attr' order.id  instance.id ele.id %}" class="btn btn-success">Add</a>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <a href=''><i class="ti-link"></i>Remaining Qty --> {{ ele.qty }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="header">
                        <a href="{{ back_url }}" class="btn btn-warning">Back</a>
                        <br>
                    </div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}