{% extends 'point_of_sale/dashboard.html' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                   <div class="card">
                       <div class="header">
                           <h4 class="title text-center">Order {{ object.number }}</h4>
                           <p class="category">Date... {{ object.date_expired }}</p>
                           <br>
                           <form class="form">
                               <label>Search</label>
                               <input type="text" class="form-control form-control-plaintext" data-href=""
                                      id="search_products" placeholder="Search">
                           </form>
                       </div>
                       <div id='products_container' class="content">
                           {% include 'point_of_sale/ajax/products_container.html' %}
                       </div>
                   </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <div class="title">
                                <h3>Details</h3>
                            </div>
                        </div>
                        <div class="content" id="order_items_container">
                            <table class='table'>
                                <thead>
                                    <tr>
                                        <th>Sku</th>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                        <th colspan="2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in instance.order_items.all %}
                                        <tr>
                                            <td>{{ order_item.title.sku }}</td>
                                            <td>{{ order_item.title|truncatechars:25 }}</td>
                                            <td>{{ order_item.qty }}</td>
                                            <td>{{ order_item.tag_final_value }}</td>
                                            <td>{{ order_item.tag_total_value  }}</td>
                                            <td colspan="2">
                                                <button
                                                        data-href=""
                                                        class="btn btn-sm btn-warning edit_item"
                                                >
                                                    <i class="fa fa-arrow-down"></i>
                                                </button>
                                                <button
                                                        data-href=""
                                                        class="btn btn-sm btn-success edit_item"
                                                ><i class="fa fa-arrow-up"></i>
                                                </button>
                                                <button
                                                        data-href=""
                                                        class="btn btn-sm btn-danger edit_item"><i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan='6'>No items added</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Shipping Cost</td>
                                        <td>{{ instance.costumer_account }}</td>
                                        <td>Payment Cost</td>
                                        <td></td>
                                        <td>Costuer</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>Final Price</td>
                                        <td>{{ instance.tag_final_value }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header text-center">
                            <button class="btn btn-primary"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#actions_info"
                                    aria-expanded="false"
                                    aria-controls="actions_info"
                            >Actions
                            </button>
                        </div>
                        <div class="content">
                            <div class="row collapse" id="actions_info">
                                <div class="col-md-6">
                                    <h4>Επεξεργασία</h4>
                                    <form method="post">{% csrf_token %}
                                        {{ form }}
                                        <button type='submit' name='order_sub' class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                                <div class="col-md-6 text-center">
                                    <br> <br>
                                    <a onclick="return confirm('Are you sure?')" href="" class="btn btn-danger btn-lg btn-raised">Delete</a>
                                    <a href="" class="btn btn-success btn-lg btn-raised">Paid</a>
                                    <a href="" class="btn btn-primary">
                                        Δημιουργία Παραστατικού Επιστροφής
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class='card'>
                        <div class="header text-center">
                           <button class="btn btn-primary"
                                   type="button"
                                   data-toggle="collapse"
                                   data-target="#general_info"
                                   aria-expanded="false"
                                   aria-controls="general_info "
                           >Γενικές Πληροφορίες</button>
                        </div>
                        <div class="content">
                            <div class="row collapse" id="general_info">
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item"><h5>Γενικές Πληροφορίες</h5></li>
                                        <li class="list-group-item">
                                            <h6>Είδος Παραστατικού <span class="badge badge-secondary">
                                                {{ instance.get_order_type_display }}</span>
                                            </h6>
                                        </li>

                                        <li class="list-group-item"><h6>Τρόπος πληρωμής<span class="badge badge-secondary">
                                                {{ instance.payment_method }}</span>
                                            </h6></li>
                                        <li class="list-group-item"><h6>Timestamp <span class="badge badge-secondary">
                                                {{ instance.timestamp }}</span>
                                            </h6></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item"><h5>Eshop Detalis</h5></li>
                                        <li class="list-group-item">
                                            <h6>Τρόπος Μεταφοράς <span class="badge badge-secondary">
                                                {{ instance.shipping }}</span>
                                            </h6>
                                        </li>
                                        <li class="list-group-item"><h6>Πελάτης<span class="badge badge-secondary">
                                                {{ instance.tag_fullname }}</span>
                                            </h6></li>
                                        <li class="list-group-item">Ημερομηνια {{ instance.date_expired|date }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
               </div>
           </div>
       </div>
   </div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('#search_products').keyup(function (event) {
            event.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            const search_name = btn.val();
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url + '?search_name='+search_name,
                success: function (data) {
                    $('#products_container').html(data.products_container)
                }
            })
        })
    </script>

{% endblock %}


