{% extends 'point_of_sale/dashboard.html' %} {% load static %}

{% block extra_css %}
    {% if is_return %}
    <style>
        .my_header {
            background-color: #ff8f6e;

        }
    </style>
    {% else %}
         <style>
        .my_header {
            background-color: #a2ff82;

        }
    </style>

    {% endif %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                   <div class="card">
                       <div class="header">
                           <h4 class="title text-center ">Add Product</h4>
                           <p class="category"></p>
                           <br>
                           <form class="form">
                               <label>Search</label>
                               <input type="text" class="form-control form-control-plaintext" data-href="{% url 'point_of_sale:ajax_search' instance.id %}"
                                      id="search_products" placeholder="Search">
                           </form>
                       </div>
                       <div id='products_container' class="content">
                           {% include 'point_of_sale/ajax/products_container.html' %}
                       </div>
                   </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="header my_header">
                            <div class="title .my_header">
                                <h3>Details</h3>
                                <br>
                            </div>
                        </div>
                        <div class="content" id="order_items_container">
                            {% include 'point_of_sale/ajax/order_container.html' %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="header text-center">
                            <button class="btn btn-primary"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#actions_info"
                                    aria-expanded="false"
                                    aria-controls="actions_info"
                            >General Info
                            </button>
                        </div>
                        <div class="content">
                            <div class="row collapse" id="actions_info">
                                <div class="col-md-6">
                                    <h4>Επεξεργασία</h4>
                                    <form method="post">{% csrf_token %}
                                        {{ form }}
                                        <br>
                                        <button type='submit' name='order_sub' class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-responsive">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <td>Date</td>
                                                <th>{{ instance.date_expired }}</th>
                                            </tr>
                                            <tr>
                                                <td>User</td>
                                                <th>{{ instance.user|default_if_none:'Anonymus' }}</th>
                                            </tr>
                                            <tr>
                                                <td>Order Type</td>
                                                <th>{{ instance.get_order_type_display }}</th>
                                            </tr>
                                            <tr>
                                                <td>Status</td>
                                                <th>{{ instance.get_status_display }}</th>
                                            </tr>
                                            <tr>
                                                <td>Payment Method</td>
                                                <th>{{ instance.payment_method }}</th>
                                            </tr>
                                            <tr>
                                                <td>Shipping Method</td>
                                                <th>{{ instance.shipping }}</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <th></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='card'>
                        <div class="header text-center">
                           <button class="btn btn-primary"
                                   type="button"
                                   data-toggle="collapse"
                                   data-target="#general_info"
                                   aria-expanded="false"
                                   aria-controls="general_info "
                           >Actions</button>
                        </div>
                        <div class="content">
                            <div class="row collapse" id="general_info">
                                <div class="col-md-12">
                                    <a href="" class="btn btn-danger">Cancel</a>
                                    <a onclick="return confirm('Are you sure?')" href="{{ instance.get_delete_url }}" class="btn btn-warning"><i class="fa fa-remove"></i>Delete</a>
                                    {% if not is_return %}
                                    <a href="" class="btn btn-primary">
                                        Δημιουργία Παραστατικού Επιστροφής
                                    </a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('#search_products').keyup(function (event) {
            event.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            const search_name = btn.val();
            console.log(search_name);
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url + '?search_name='+search_name,
                success: function (data) {
                    $('#products_container').html(data.products_container)
                }
            })
        });

        $('.edit_button').click(function (evt) {
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');

            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,
                success: function (data) {
                    $('#order_items_container').html(data.order_container)
                }
            })
        });

        $('.add_button').click(function (evt) {
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            $.ajax({
                dataType: 'json',
                url: url,
                method: 'GET',

                success: function (data) {
                    $('#order_items_container').html(data.order_container)
                }
            })
        })
    </script>
    {{ form.media }}
{% endblock %}


