{% extends 'dashboard_/site_templates/homepage.html' %} {% load static %}

{% block content %}
    <div class="content">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-8">
                   <div class="card">
                       <div class="header">
                           <h4 class="title text-center">Create Banner</h4>
                           <p class="category"><a href="{% url 'dashboard_:banner_create' %}" class="btn btn-success">Create</a></p>
                       </div>
                       <div class="content table-responsive table-full-width">
                           <table class="table table-striped">
                               <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Active</th>
                                        <th>Image</th>
                                        <th>Actions</th>
                                    </tr>
                               </thead>
                               <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ object.title }}</td>
                                        <td>{{ object.tag_active }}</td>
                                        <td><img class="img-raised img-responsive img-thumbnail" style="height: 50%;width: 50%" src="{{ object.image.url }}"> </td>
                                        <td><a href="{% url 'dashboard_:banner_edit' object.id %}" class="btn btn-primaty">Edit</a> <br><br>
                                            <a href="{% url 'dashboard_:banner_delete' object.id %}" class="btn btn-warning">Delete</a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6">No Banners</td>
                                    </tr>
                                {% endfor %}
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="card">
                       <div class="header">
                           <div class="title">
                               <h4>Filters</h4>
                           </div>
                       </div>
                       <div class="content">
                            <a href="{{ request.path }}?active_name=1" class="btn btn-success">Active</a>
                            <a href="{{ request.path }}?active_name=2" class="btn btn-warning">No Active</a>
                            <a href="{{ request.path }}" class="btn btn-success">Reset</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endblock %}