{% extends "dashboard_/site_templates/homepage.html" %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">Edit {{ instance }}</div>
                        <div class="content">
                            <form method="post"> {% csrf_token %}
                                {{ form }}
                                <button class="btn btn-success" type='submit'>Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <div class="title">Selected Categories</div>
                        </div>
                        <div class="content" id='ajax_container'>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in instance.categories.all %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ category }}</td>
                                            <td><button data-url="{% url 'dashboard_:ajax_coupon_edit' instance.id category.id 'delete' %}" class="btn btn-warning trigger_button">Delete</button></td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3">No Categories Selected</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card">
                            <div class="header">Categories</div>
                            <div class="content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categories %}
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ category }}</td>
                                            <td><button data-url="{% url 'dashboard_:ajax_coupon_edit' instance.id category.id 'add' %}" class="btn btn-success trigger_button">Add</button></td>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
<script>
    $('.trigger_button').click(function(event){
        var btn = $(this);
        href = btn.attr('data-url')
        $.ajax({
            dataType: 'json',
            url: href,
            success: function(response) {
                $('#ajax_container').html(response.table_data)
            }
        })

    })
</script>

{% endblock extra_js %}
