{% extends "dashboard_/site_templates/homepage.html" %}

{% block content %}
<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Coupons List</h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                     <tr>
                                         <th>#</th>
                                         <th>Title</th>
                                         <th>Date Range</th>
                                         <th>Coupon Code</th>
                                         <th>Discount Value</th>
                                         <th>Minimum Limit</th>
                                         <th>Actions</th>
                                     </tr>
                                </thead>
                                <tbody>
                                 {% for object in object_list %}
                                     <tr>
                                         <td>{{ forloop.counter }}</td>
                                         <td>{{ object.title }}</td>
                                         <td>{{ object.date_created|date }} - {{ object.date_end|date }}</td>
                                         <td>{{ object.code }}</td>
                                         <td>{{ object.tag_value }} </td>
                                         <td>{{ object.tag_cart_total_value }}</td>
                                         <td><a href="{{ object.get_dashboard_url }}" class="btn btn-primaty">Edit</a> <br><br>
                                             <a href="" class="btn btn-warning">Delete</a>
                                         </td>
                                     </tr>
                                 {% empty %}
                                     <tr>
                                         <td colspan="6">No Banners</td>
                                     </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class='header'>
                            <div class="title">Add New Coupon</div>
                        </div>
                        <div class="content">
                            <form method="post"> {% csrf_token %}
                                {{ form }}
                                <button class="btn btn-success">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
