{% extends 'dashboard_/site_templates/homepage.html' %} {% load static %}

{% block content %}
    <div class="content">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-8">
                   <div class="card">
                       <div class="header">
                           <h4 class="title text-center">Discount</h4>
                       </div>
                        <form method="post">
                            <div class="form-group">{% csrf_token %}
                                <label for="exampleInputPassword1">Percent</label>
                                <input type="number" class="form-control" name="percent" placeholder="0">
                              </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Price</label>
                                <input type="number" class="form-control" name="price" placeholder="0">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Remove Discount</label>
                                <input type="checkbox" class="form-control" name="remove_discount" placeholder="0">
                            </div>

                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                       <div class="content table-responsive table-full-width">
                           <table class="table table-striped">
                               <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Brand</th>
                                        <th>Category</th>

                                    </tr>
                               </thead>
                               <tbody>
                                {% for object in queryset %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ object.title }}</td>
                                        <td>{{ object.tag_brand }}</td>
                                        <td>{{ object.tag_category }}</td>
                                        <td>{{ object.tag_final_show_price }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6">No Banners</td>
                                    </tr>
                                {% endfor %}
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="card">
                       <div class="header">
                           <div class="title">
                               <h4>Filters</h4>
                           </div>
                       </div>
                       <div class="content">
                            <form method="get">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Search</label>
                                    <input type="text" class="form-control" name="search_name" placeholder="Enter..">
                                </div>
                                <h4>Brands</h4>
                                {% for brand in brands %}
                                    <div class="form-check">
                                    <input 
                                        name='brand_name' 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        value="{{ brand.id }}" 
                                        id="brand_{{ brand.id }}"
                                        {% if brand.id|stringformat:"s" in brand_name %} checked {% endif %}
                                    >
                                    <label class="form-check-label" for="brand_{{ brand.id }}">
                                        {{ brand }}
                                    </label>
                                    </div>
                                {% endfor %}

                                <h4>Category</h4>
                                {% for category in categories %}
                                    <div class="form-check">
                                        <input 
                                            name='category_name' 
                                            class="form-check-input" 
                                            type="checkbox" 
                                            value="{{ category.id }}" 
                                            id="category_{{ category.id }}"
                                            {% if category.id|stringformat:"s" in category_name %} checked {% endif %}
                                        >
                                        <label class="form-check-label" for="category_{{ category.id }}">
                                            {{ category }}
                                        </label>
                                    </div>
                                {% endfor %}

                                <h4>Category Site</h4>
                                {% for category in site_categories %}
                                    <div class="form-check">
                                        <input 
                                            name='category_site_name' 
                                            class="form-check-input" 
                                            type="checkbox" 
                                            value="{{ category.id }}" 
                                            id="categorys_{{ category.id }}"
                                            {% if category.id|stringformat:"s" in category_site_name %} checked {% endif %}
                                        >
                                        <label class="form-check-label" for="categorys_{{ category.id }}">
                                            {{ category }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <button type='submit' class="btn btn-primary">Save</button>
                            </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endblock %}