{% extends "dashboard_/site_templates/homepage.html" %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Edit {{ instance }}</h4>
                            <div class="row">
                                <div class="col-lg-4"><a href="{% url 'dashboard_:users_list' %}" class="btn btn-warning">Back</a></div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4"><a onclick="return confirm('Are you sure?')" href="{% url 'dashboard_:delete_user' instance.id %}" class="btn btn-danger">Delete</a></div>
                            </div>

                        </div>

                        <div class="content"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header"><h4>Edit User Account</h4></div>
                        <div class="content">
                            <form  method="post">
                                {% csrf_token %}
                                {{ account_form }}
                                <button type="submit" class="btn btn-primary" name='account'>Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header"><h4>Edit Profile</h4></div>
                        <div class="content">
                            <form method="post">
                                {% csrf_token %}
                                {{ profile_form }}
                                <button type="submit" class="btn btn-primary" name='profile'>Save</button>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
