{% extends "dashboard_/site_templates/homepage.html" %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Users</h4>
                            <p class="category"><a href="{% url 'dashboard_:user_create' %}" class="btn btn-success">Create</a></p>
                            <br><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <form method="get">
                                        <input name="search_name"
                                               type="text"
                                               class="form-control"
                                               placeholder="Search"
                                               {% if search_name %} value="{{ search_name }}" {% endif %}
                                        >
                                    </form>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>

                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                     <tr>
                                         <th>#</th>
                                         <th>Username</th>
                                         <th>Full Name</th>
                                         <th>Active</th>
                                         <th>Actions</th>
                                     </tr>
                                </thead>
                                <tbody>
                                 {% for object in object_list %}
                                     <tr>
                                         <td>{{ forloop.counter }}</td>
                                         <td>{{ object }}</td>
                                         <td>{{ object.profile }}</td>
                                         <td>{{ object.is_active }}</td>
                                         <td><a href="{% url 'dashboard_:edit_user' object.id %}" class="btn btn-primaty">Edit</a></td>
                                     </tr>
                                 {% empty %}
                                     <tr>
                                         <td colspan="6">No Users</td>
                                     </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
    </div>
{% endblock content %}
