<table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in object_list %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category }}</td>
                    <td><button data-href="{% url 'dashboard_:category_site_add_or_remove' instance.id category.id 'add' %}" class="btn btn-success category_press">Add</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
            $('.category_press').click(function(event) {
                event.preventDefault()
                const btn = $(this)
                const href = btn.attr('data-href')
                $.ajax({
                    url: href,
                    dataType: 'json',
                    success: function(data) {
                        $('#category_container').html(data.table)
                    }
                })
            })
        
            $('.search_button').keyup(function(event){
                event.preventDefault()
                const btn = $(this)
                let search_name = btn.val()
                console.log(search_name)
                $.ajax({
                    url: btn.attr('data-href')+ '&search_name='+ search_name,
                    dataType: 'json',
                    success: function(data) {
                        $('#container_data').html(data.table)
                    }
        
                })
            })
        </script>