{% extends 'warehouse/dashboard.html' %} {% load render_table from django_tables2 %}


{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <div class="title">Actions</div>
                            <br>
                            <button data-href='{% url "warehouse:ajax_invoice" "value" %}' class="btn btn-info analysis-button">Value Analysis</button>
                            <button data-href='{% url "warehouse:ajax_invoice" "vendors" %}' class="btn btn-info analysis-button">Vendor Analysis</button>
                            <button class="btn btn-info">Calculate Paid</button>
                        </div>
                        <div class="content">
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="result_container">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                            <div class="header">
                                <h4 class="title text-center">Order List</h4>
                                <p class="category">
                                    <a href="{% url 'warehouse:create_invoice' %}" class="btn btn-success">Create Invoice</a>
                                </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                               {% render_table table %}
                            </div>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                       <div class="header">
                           <a href="{% url 'warehouse:dashboard' %}" class="btn btn-warning">Back</a>
                            <h4>Filters</h4>
                       </div>
                       <div class="content">
                           <form method="get">
                               <div class="pagination">
                                   <span class="step-links">
                                       {% if page_obj.has_previous %}
                                           <a href='{{ request.build_absolute_uri }}&page=1' class="btn btn-primary">First Page</a>
                                           <a href='{{ request.build_absolute_uri }}&page={{ page_obj.previous_page_number }}' class="btn btn-primary">Previous</a>
                                       {% endif %}
                                       <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                       {%  if page_obj.has_next %}
                                           {% if '?' in request.build_absolute_uri %}
                                               <a href='{{ request.build_absolute_uri }}&page={{ page_obj.next_page_number }}' class="btn btn-primary">Next</a>
                                           {% else %}
                                               <a href='?page={{ page_obj.next_page_number }}' class="btn btn-primary">Next</a>
                                           {% endif %}
                                       {% endif %}
                                   </span>
                               </div>
                               <br>
                               {% include 'filters/date_range_filter.html' %}
                               <br>
                               {% include 'filters/search_filter.html' %}
                               <br>
                               {% include 'filters/paid_filter.html' %}
                                <br>
                               {% include 'filters/vendors_filter.html' %}
                                <br>
                               <button type="submit" class="btn btn-primary">Submit</button>
                               <a href="{{ request.path }}" class="btn btn-danger">Reset Filters</a>
                           </form>
                       </div>
                    </div>
               </div>
           </div>
       </div>
   </div>

{% endblock %}

{% block extra_js %}
    <script>
        $('.analysis-button').click(function (evt) {
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            const params = window.location.search.substr(1);
            console.log(params);
            $.ajax({
                dataType: 'json',
                url: url + '?'+ params,
                method: 'GET',

                success: function (data) {
                    $('#result_container').html(data.result)

                }
            })
        })
    </script>


{% endblock %}


