{% extends 'warehouse/dashboard.html' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <div class="title"><h4>{{ instance }}</h4></div>
                        </div>
                        <div class="content">
                            <p>Remaining Value... {{ instance.tag_balance }}</p>
                            <a href="{{ instance.get_payroll_create_url }}" class="btn-success btn">Create New Payroll</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card">
                        <div class="header">
                            <div class="title">
                                <a href="{{ back_url }}" class="btn btn-warning">Back</a>
                            </div>
                            <div class="content">
                                <form method="GET">
                                    <input data-href="" type="text" class="form-control search_button" name="search_name" placeholder="Search">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect2">Select Category</label>
                                        <select multiple name="cate_name" class="form-control" id="exampleFormControlSelect2">
                                            {% for cate in categories %}
                                                <option  value="{{ cate.0 }}">{{ cate.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button class="btn btn-primary">Save</button> <a href="{{ request.path }}" class="btn btn-warning">Clear</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    {% for payroll in object_list %}
                        <div class="col-lg-3 col-sm-6">
                            <div{% if payroll.is_paid %}style="background-color: darkseagreen"{% else %} style="background-color: #ff8984"{% endif %}class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-danger text-center">
                                                <i class="ti-android"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>{{ payroll.date_expired }}</p>
                                                <p>{{ payroll.get_category_display }}</p>
                                                <p>{{ payroll.tag_final_value }}</p>
                                            </div>
                                            {% if payroll.is_paid %}
                                                <span class="badge badge-success">Paid</span>
                                                <br><br>
                                            {% else %}
                                                <a href="{% url 'warehouse:payroll_quick_pay' payroll.id %}" class="btn btn-danger">Quick Pay</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr>
                                        <div class="stats">
                                            <a style="color: white" href="{{ payroll.get_edit_url }}"><i class="ti-dashboard"></i>Edit {{ payroll.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}