{% extends 'warehouse/dashboard.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class='col-lg-6'>
                <div class="card">
                    <div class="header">
                        <h3>Payroll Homepage</h3>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="header">
                        <a href="{% url 'warehouse:dashboard' %}" class="btn btn-primary">Back</a>
                    </div>
                    <div class="content">
                        <a href="{% url 'warehouse:employee-card-list' %}" class="btn btn-primary">Employee List</a> <a href="" class="btn btn-primary">Payroll List</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card">
                    <div class="header">
                        <div class="red title">Not Paid List</div>
                    </div>
                    <div class="content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Person</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ele in object_list %}
                                    <tr>
                                        <td>{{forloop.counter }}</td>
                                        <td>{{ ele.date_expired }}</td>
                                        <td>{{ ele }}</td>
                                        <td>{{ ele.employee }}</td>
                                        <td>{{ ele.get_category_display }}</td>
                                        <td>{{ ele.tag_final_value }}</td>
                                        <td>
                                            <a href="" class="btn btn-primary">Edit</a>
                                            <a href="" class="btn btn-warning">Pay</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" id='result_container'>

            </div>
        </div>
        </div>
</div>
{% endblock content %}

