{% extends 'frontend/index.html' %} {% load static %}


{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'frontend/images/bg_6.jpg' %}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">My Cart</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'homepage' %}">Home</a></span> <span>Cart</span></p>
                </div>
            </div>
        </div>
    </div>

    <section id="cart_container" class="ftco-section ftco-cart">
        <div class="container ">
            <div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
                            <tbody>
                            {% for cart_item in cart.cart_items.all %}
                                <tr class="text-center">
                                    <td class="product-remove">
                                        <a href="{{ cart_item.get_remove_url }}"><span class="ion-ios-close"></span></a>
                                    </td>
                                    <td class="image-prod">
                                        <div class="img"
                                                {% if cart_item.product.image %}
                                                    style="background-image:url({{ cart_item.product.image.url }});">
                                                {% else %}
                                                    style="background-image:url({% static 'frontend/images/product-3.jpg' %});">
                                                {% endif %}
                                        </div>
                                    </td>
                                    <td class="product-name">
                                        <h3>{{ cart_item }}</h3>
                                        <p></p>
                                    </td>
                                    <td class="price">{{ cart_item.tag_final_value }}</td>
                                    <td class="quantity">
                                        <div class="input-group mb-3">
                                            <input  data-href='{{ cart_item.get_ajax_change_qty_url }}' type="text" name="quantity" class="quantity form-control input-number cart_qty" value="{{ cart_item.qty }}" min="1" max="100">
                                        </div>
                                    </td>
                                    <td class="total">{{ cart_item.tag_total_value }}</td>
                                </tr><!-- END TR-->
                            {% endfor %}
                            </tbody>
                        </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>{{ cart.tag_value }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>{{ cart.tag_shipping_cost }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>{{ cart.tag_discount_value }}</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>{{ cart.tag_final_value }}</span>
    					</p>
    				</div>
    				<p class="text-center"><a href="{% url 'checkout_page' %}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
        </div>
		</section>



		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center py-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
            	<h1 class="big">Subscribe</h1>
              <h2>Subcribe to our Newsletter</h2>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


{% block extra_js %}
    <script>
        $('.cart_qty').change(function (event) {
            event.preventDefault();
            const btn = $(this);
            const new_value = btn.val();
            const url = btn.attr('data-href');
            $.ajax({
                url: url,
                dataType: 'json',
                data:{'qty':new_value},
                success: function(response){
                    console.log('i am here', data.result);
                     $('#cart_container').html(response.result)
                }
            })
        })
    </script>

{% endblock %}