{% extends 'dashboard_/../dashboard/dashboard.html' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="header">
                        <div class="title">
                            <h4>{{ title }}</h4>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <div class="title">
                                <h4>Add Product</h4>
                                <form method='get' class="form">
                                    <input class="form-control"
                                           name='search_name' 
                                           type='text' 
                                           {% if search_name %}
                                           value='{{ search_name }}'  
                                           {% else %}
                                           placeholder="Search"
                                           {% endif %}
                                           >
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in object_list %}
                                        <tr>
                                            <td>{{ product.id }}</td>
                                            <td>{{ product }}</td>
                                            <td>
                                                <button 
                                                    {% if colors %}
                                                    data-url = "{% url 'dashboard_:ajax_add_remove_similar_color' instance.id product.id 1 %}"
                                                    {% else %}
                                                    data-url="{% url 'dashboard_:ajax_add_related_item' instance.id product.id %}"
                                                    {% endif %}
                                                    class="btn btn-success add_related"
                                                    >Add
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <div class="title">
                               <h4>{{ table_title }}</h4> 
                               <a href="{% url 'dashboard_:product_detail' instance.id %}" class="btn btn-warning  right">Back</a>
                            </div> 
                            
                        </div>
                        <div id="container_table" class="card-body">
                            <table class="table">
                                <thead>
                                     <tr>
                                        <th>#</th>
                                        <th>Product</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for related in related_products %}
                                        <tr>
                                            <td>{{ related.id }}</td>
                                            <td>{{ related }}</td>
                                            <td>
                                                <button
                                                    {% if colors %}
                                                    data-url = "{% url 'dashboard_:ajax_add_remove_similar_color' instance.id related.id 2 %}"
                                                    {% else %} 
                                                    data-url='{% url "dashboard_:ajax_delete_related_product" instance.id related.id %}'
                                                    {% endif %}
                                                    class="btn btn-warning delete_item"
                                                    >Delete
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script>
    $('.add_related').click(function(event) {
        console.log('works');
        event.preventDefault();
        const btn = $(this);
        $.ajax({
            url: btn.attr('data-url'),
            dataType: 'json',
            success: function(response) {
                $("#container_table").html(response.html_data)
            }
        })
    }) 

    $('.delete_item').click(function(event){
        event.preventDefault();
        const btn = $(this);
        $.ajax({
            url: btn.attr('data-url'),
            dataType: 'json',
            success: function(response){
                $("#container_table").html(response.html_data)
            }
        })
    })
        
</script>
{% endblock extra_js %}